.tipMenu{
    margin-top: 5rem;
    margin-bottom: 3rem;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
        li{
            font-size: 3rem;
            color: #c7c7c7;
            text-align:center;
            width: 33%;
            @media  screen and (max-width:520px) {
                font-size: 2rem;
            }
        }
        .select{
            color:#009e20;
            font-weight: 600;
            border-bottom: 2px solid #009e20;
        }
    }
    .friendTag{
        li{
            @media screen and (max-width:640px) {
                font-size: 1.5rem;
            }
        }
    }
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
    @media screen and (max-width:520px) {
        margin: 8rem;
    }
    .thumbnailBox{
        margin: 0 auto;
    }
    h4{
        font-size: 3rem;
        padding: 2rem;
    }
    form{
        width:100%;
        text-align: center;
        input[type=password]{
            font-size:3rem;
        }
    }
    button{
        width: 100%;
    }
    input[type="submit"]{
        padding: 0.5rem 3rem;
        font-size: 2rem;
        border-radius: 5px;
    }
}

.friendRequests{
    .profile{
        align-items: center;
        justify-content: space-between;
    }

    .profileText{
        padding: 0;
    }

    .button{
        width: 25%;
    }
    form{
        display: flex;
        justify-content: space-around;
    }
    input{
        border: none;
        background-color: #2fc637;
        border-radius: 2rem;
        padding: 0.5rem 2rem;
    }
}

.friendAdd{
    margin-top: 7rem;
    form{
        display: flex;
        justify-content: space-between;
    }
    input[type=text]{
        font-size: 3rem;
        width: 80%;
        @media screen and (max-width: 520px) {
            font-size: 2rem;
        }
    }
    input[type=email]{
        font-size: 3rem;
        width: 80%;
    }
    input[type=submit]{
        width: 15%;
        font-size: 3rem;
        @media screen and (max-width: 520px) {
            font-size: 2rem;
        }
    }
}

.delButton{
    padding: 1rem 2rem;
    font-size: 2.5rem;
    border: none;
    background-color: rgb(255 0 0);
    border-radius: 4rem;
    color: #fff;
}

.add{
    margin: 0;
    border: none;
    background-color: #2fc637;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    width:45%;
    &:hover{
        border: 1px solid #2fc637;
        span{
            color:#2fc637;
        }
    }
}

.remove{
    margin: 0;
    background-color: #ff0000;
    color: #fff;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    width:45%;
    &:hover{
        border: 1px solid #ff0000;
        span{
            color:#ff0000;
        }
    }
}

.friendsList{
    @media screen and (max-width:900px) {
        .profile{
            padding: 1rem;
        }
        .profileText{
            padding-right: 30%;
            h4{
                font-size: 2.5rem;
                @media screen and (max-width: 520px) {
                    font-size: 2rem;
                }
            }
            p{
                font-size: 1rem;
            }
        }
    }
}

.addUserText{
    @media screen and(max-width: 520px) {
        padding-right: 20%;
    }
}

